{% extends 'base.html.twig' %}

{% block title %}Softskills index{% endblock %}

{% block body %}
    <h1>Softskills index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for softskill in softskills %}
            <tr>
                <td>{{ softskill.id }}</td>
                <td>{{ softskill.nombre }}</td>
                <td>
                    <a href="{{ path('app_softskills_show', {'id': softskill.id}) }}">show</a>
                    <a href="{{ path('app_softskills_edit', {'id': softskill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_softskills_new') }}">Create new</a>
{% endblock %}
