{% extends 'base.html.twig' %}

{% block title %}Softskills{% endblock %}

{% block body %}
    <h1>Softskills</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ softskill.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ softskill.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_softskills_index') }}">back to list</a>

    <a href="{{ path('app_softskills_edit', {'id': softskill.id}) }}">edit</a>

    {{ include('softskills/_delete_form.html.twig') }}
{% endblock %}
