{% extends 'base.html.twig' %}

{% block title %}Idiomas index{% endblock %}

{% block body %}
    <h1>Idiomas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idioma</th>
                <th>Nivelhablado</th>
                <th>Nivelescrito</th>
                <th>Titulacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for idioma in idiomas %}
            <tr>
                <td>{{ idioma.id }}</td>
                <td>{{ idioma.idioma }}</td>
                <td>{{ idioma.nivelhablado }}</td>
                <td>{{ idioma.nivelescrito }}</td>
                <td>{{ idioma.titulacion }}</td>
                <td>
                    <a href="{{ path('app_idiomas_show', {'id': idioma.id}) }}">show</a>
                    <a href="{{ path('app_idiomas_edit', {'id': idioma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_idiomas_new') }}">Create new</a>
{% endblock %}
