{% extends 'base.html.twig' %}

{% block title %}Formacion{% endblock %}

{% block body %}
    <h1>Formacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formacion.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ formacion.titulo }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ formacion.duracion }}</td>
            </tr>
            <tr>
                <th>Centro</th>
                <td>{{ formacion.centro }}</td>
            </tr>
            <tr>
                <th>Fechadeinicio</th>
                <td>{{ formacion.fechadeinicio }}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{{ formacion.fechafin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_formacion_index') }}">back to list</a>

    <a href="{{ path('app_formacion_edit', {'id': formacion.id}) }}">edit</a>

    {{ include('formacion/_delete_form.html.twig') }}
{% endblock %}
